<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="begetInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <begetInfo.Properties.Settings>
            <setting name="request_sites" serializeAs="String">
                <value>https://api.beget.ru/api/domain/getList?login=LOGINTEMPLATE&amp;passwd=PASSWORDTEMPLATE&amp;output_format=json</value>
            </setting>
            <setting name="request_siteLoad" serializeAs="String">
                <value>https://api.beget.ru/api/stat/getSiteLoad?login=LOGINTEMPLATE&amp;passwd=PASSWORDTEMPLATE&amp;output_format=json&amp;input_format=json&amp;input_data={%22site_id%22:SITEIDTEMPLATE}</value>
            </setting>
        </begetInfo.Properties.Settings>
    </userSettings>
</configuration>